<!Doctype html>
<html lang="en">
    <head>
        <title></title>
    </head>
    <body>
        <header>
            <nav>
                <ul>
                    <li>
                        
                    </li>
                    <li>

                    </li>
                    <li>

                    </li>
                    <li>

                    </li>
                </ul>
            </nav>
        </header>
        <main>
            {% block content %}

            {% endblock content %}
        </main>
    </body>
    <foot>
        
    </foot>