<!Doctype html>
<html lang="en">
    <head>
        <title>Details</title>
    </head>
    <body>
        <main>

            {% comment %} <a href="{% url 'todos_delete' todos.pk %}">Delete Todos</a> {% endcomment %}
            {% comment %} <a href="{% url 'todos_update' todos.pk %}">Edit Todos</a> {% endcomment %}
            {% comment %} <a href="{% url 'todos_update' object_detail.id %}"> Edit {{object_detail}} </a>
            <p> {{object_detail.id}}</p> {% endcomment %}
        </main>
    </body>
    <foot>
        
    </foot>