<!Doctype html>
<html lang="en">
    <head>
        <title>Main</title>
    </head>
    <body>
        <header>
            <nav>
                <ul>
                    <li>
                    <a href="{% url 'todos_create' %}">Create a Todo list</a>
                    </li>
                    <li>
                    <a href="{% url 'todos_create' %}">Create a Todo item</a>
                    </li>
                    <li>
                    </li>
                </ul>
            </nav>
        </header>
        <main>
        {% for todo in object_list %}
        <a href="{% url 'todos_detail' todo.pk %}"> 
            {{todo.name}}</a>
            {% endfor %}

        </main>
    </body>
    <foot>
        
    </foot>